/* Navbar */
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#navbar{
    width: 100%;
    height: 145px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}
#top{
width: 100%;
height: 37px;

margin-bottom: 15px;
display: flex;
align-items: center;
justify-content:center;
background-color: #fee8e8;
}
#mid{
width: 100%;
height: 50px;

margin-bottom: 7px;
display: flex;
align-items: center;
justify-content: center;
}
#bottom{
width: 100%;
height: 35px;

}
#top>div>img{
    width: 18px;
    margin-right: 8px;
   
}
#top>div{
    display: flex; 
    align-items: center;
    
    font-size: 12px;
    
}
#top > div:nth-child(2){
    width: 63%;
    padding-left: 40px;
    color: #ff9797;
    font-weight: 600;
    font-family: sans-serif;
    
}
#top>div:nth-child(3)
{
    font-size: 14px;
}
#mid>div:nth-child(1){
width: 55%;

display: flex;
align-items: center;
justify-content: space-between;


}

#mid>div:nth-child(1)>div{
    width: 70%;
    margin-right: 60px;
    
}
#mid>div:nth-child(2){
width: 30%;

display: flex;
align-items: center;
justify-content: right;
}
#mid>div:nth-child(1)>img{
    width: 17%;
}
#mid>div:nth-child(2)>img:nth-child(1){
    width: 50px;
}
#mid>div:nth-child(2)>img:nth-child(2){
    width: 8px;
    height: 30px;
}
#mid>div:nth-child(2)>img:nth-child(3){
    width: 30px;
    margin-left: 5px;
}
input{
    height: 25px;
    width: 100%;
    margin-right: 6%;
    height: 40px;
    border: 0px;
    border-radius: 3px;
    background-color: #fafafa ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-left: 55px;
    font-size: 16px;

   
}
#bottom>div{
    width: 75%;
    display: flex;
    margin-left: 8%;
    align-items: center;
   
    height: 33px;
    font-size: 14px;
    line-height: 20px;
    
}
label>img{
    width: 25px;
    
}
label{
   position: absolute;
    top: 9%; left:21%;
    
}

#bottom>div>div{
    
    padding: 8px 20px;
    width: auto;
   height: auto;
  
}

#bottom>div>div:hover{
    border-bottom: 2px solid #ff9797;
    padding-bottom: 6px;   

    }

.modal-container{
 opacity: 0;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.3);
   display: flex;
   justify-content: center; 
}
.modal-makeup{ 
    width: 85%;
    display: flex;
    align-items: center;
   
    background-color: #fafafa;
    position: absolute;
    top:143px
}
.modal-makeup>div{
    height: 400px;
    width: 17%;

    
}
.modal-makeup>div>div{
    margin: 8px 15px;
}
.modal-makeup>div>div:nth-child(1){
    color:#ff9c9b ;
font-weight: 600;
}
.modal-makeup>div:nth-child(4)>div:nth-child(5){
    color:#ff9c9b ;
font-weight: 600;
margin-top: 30px;
margin-bottom: 30px;
}
.modal-makeup>div:nth-child(4)>div:nth-child(9){
    color:#ff9c9b ;
font-weight: 600;
margin-top: 30px;
margin-bottom: 30px;
}
.modal-makeup>div>div:nth-child(1):hover{
    font-weight: 600;
    color: black;
}
.modal-container2{
    opacity: 0;
       width: 100%;
      
       background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center; 
   }
   .modal-hair{ 
       width: 85%;
       display: flex;
       align-items: center;
      
       background-color: #fafafa;
       position: absolute;
       top:143px
   }
   .modal-hair>div{
       height: 400px;
       width: 15%;
   border: 1px solid green;
       
   }

   
   .modal-container3{
    opacity: 0;
       width: 100%;
       
       background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center; 
   }
   .modal-skin{ 
       width: 85%;
       display: flex;
       align-items: center;
      
       background-color: #fafafa;
       position: absolute;
       top:143px
   }
   .modal-skin>div{
       height: 400px;
       width: 15%;
   border: 1px solid green;
       
   }

   
   .modal-container4{
    opacity: 0;
       width: 100%;
       
       background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center; 
   }
   .modal-sanitize{ 
       width: 85%;
       display: flex;
       align-items: center;
      
       background-color: #fafafa;
       position: absolute;
       top:143px
   }
   .modal-sanitize>div{
       height: 400px;
       width: 15%;
   border: 1px solid green;
       
   }

   
   .modal-container5{
    opacity: 0;
       width: 100%;
       
       background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center; 
   }
   .modal-collection{ 
       width: 85%;
       display: flex;
       align-items: center;
      
       background-color: #fafafa;
       position: absolute;
       top:143px
   }
   .modal-collection>div{
       height: 400px;
       width: 15%;
   border: 1px solid green;
       
   }

   
   .modal-container6{
    opacity: 0;
       width: 100%;
       
       background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center; 
   }
   .modal-studio{ 
       width: 85%;
       display: flex;
       align-items: center;
      
       background-color: #fafafa;
       position: absolute;
       top:143px
   }
   .modal-studio>div{
       height: 400px;
       width: 15%;
   border: 1px solid green;
       
   }

   
   .modal-container7{
    opacity: 0;
       width: 100%;
       
       background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center; 
   }
   .modal-rewards{ 
       width: 85%;
       display: flex;
       align-items: center;
      
       background-color: #fafafa;
       position: absolute;
       top:143px
   }
   .modal-rewards>div{
       height: 400px;
       width: 15%;
   border: 1px solid green;
       
   }
   